<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.CSLab.demo.mapper.UserMapper">
    <insert id="insertUser">
        insert into `user`(`user_name`,`password`,`email`,`head_path`,`sex`,`age`,`phone_number`)
        values (#{userName},#{password},#{email},#{headPath},#{sex},#{age},#{phoneNumber})
    </insert>

    <select id="getUserByUsername" resultType="org.CSLab.demo.bean.User">
        select * from user where user_name=#{username}
    </select>
</mapper>